$brand-blue: #0073ce;
$brand-light-blue: #00a5f0;
$brand-light-2: rgba(0, 164, 240, 0.2);
$brand-green-light: #00d7d7;
$brand-yellow-light: #ffdc5c;
$brand-yellow: #ffc800;
$brand-yellow-dark: #855b35;
$blue-gradient: linear-gradient(45deg, $brand-light-blue 100%, $brand-green-light 0%);

$grey-600: #33303e;
$grey-500: #4e4b59;
$grey-400: #5f5c6b;
$grey-300: #7a7786;
$grey-200: #c6c5ce;
$grey-100: #f1f0f5;
$grey-800: rgba(198, 198, 206, .8);

$white: #fff;
$white-55: rgba(241, 240, 245, .55);
$white-2: rgba(255, 255, 255, .2);
$white-9: rgba(255, 225, 231, .9);

$black-5: rgba(0, 0, 0, .5);

$brand-light-blue-4: rgba(53, 203, 226, .4);
$brand-light-blue-0: rgba(53, 203, 226, 0);
