@import 'mixins';
@import 'reset';
@import 'variables';
@import 'grid';
@import 'animate';
@import 'titles';
@import 'component';
@import 'buttons';
@import 'header';
@import 'footer';
@import 'home';