
.contentForm {
    background-color: #ffffff;
    width: 35rem;
    padding: 2.4rem;
}

.formGroup {
    margin-bottom: 1.6rem;
}


.formGroup input[type=text],
.formGroup input[type=email],
.formGroup input[type=password] {
    width: 100%;
    border: 1px solid gray;
    height: 4.8rem;
    font-size: 0 1.6rem;
    padding:  0 1.6rem;
}

button {
    width: 100%;
    height: 4.8rem;
    cursor: pointer;
    font-size: 1.8rem;
    background-color: #5b1fa6;
    color: #ffffff;
    transition: filter 0.3s;
}

button:hover {
    filter: brightness(0.8);

}

.inputError {
    border: 1px solid red !important;
}

.inputError::placeholder {
    color: red;
}

.labelError {
    color: red;
    display: block;
    margin-top: 0.8rem;
    font-size: 1.2rem;
}