<<<<<<< HEAD
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    list-style: none;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
}

html {
    font-size: 62.5%;
}
=======
*{
    margin: 0;
    padding: 0;
}

>>>>>>> 92a8b9306be41cc3a396f2ee3b57e95d9f08b269
