@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

$white: #ffffff;
$purple: #5f3ca1;
$yellow: #ffbf00;
$gray-01: #453f51;
$gray-02: #5e5570;