footer{
  width: 100%;
  background: $blue-primary;
  padding-top: 6.7rem;
  padding-bottom: 6.5rem;

  .container{
    @include flex(row, center, space-between);

    .text{
      h3{
        color: $white;
      }
  
      p{
        font-weight: 500;
        font-family: $font-body;
        font-size: 1.4rem;
        line-height: 180%;
        color: $opacity-700;
      }
    }
  }

  @media screen and (max-width:560px){
    padding-block: 4rem;

    .container{
      flex-direction: column;
    }

    .text{
      margin-bottom: 4.8rem;

      h3, p{
        text-align: center;
      }
    }
  }
}