:root {
    $white: #FFF;
    $white-200: #eff3f6;
    $black: #101010;

    $grey-100: #2f3133;
    $grey-200: #a0afba;
    $grey-300: #acb9c1;
    $grey-400: #7a7d80;
    $grey-500: #d6ebdc;
    $grey-600: #4d5053;

    $red-100: #c20001;
    $red-200: #C90C0C;
    $blue-100: #3f67ba;
    $blue-200: #3e75c3;
    $blue-primary: #3f5db3;

    $bug: #9BBA48;
    $dark: #595761;
    $dragon: #2C6AC1;
    $electric: #EED967;
    $type-electric: #D4BC34;
    $fairy: #E296E1;
    $fighting: #C44D61;
    $ground: #CE8056;
    $ice: #8BCEC1;
    $type-ice: #71BAAC;
    $normal: #A0A29F;
    $type-normal: #909090;
    $poison: #AC6ACA;
    $psychic: #EB8B85;
    $rock: #8BCEC1;
    $type-rock: #84BEB3;
    $ghost: #616EB7;
    $grass: #73B861;
    $steel: #6594A1;
    $water: #88A3D4;
    $type-water: #4F77BE;
    $fire: #F66D6D;
    $type-fire: #E96303;
    $flying: #A6BBE8;
    $type-flying: #758CBD;

    $bug-opacity: rgba(155, 186, 72, .2);
    $dark-opacity: rgba(89, 87, 97, .2);
    $dragon-opacity: rgba(44, 106, 193, .2);
    $electric-opacity: rgba(238, 217, 103, .2);
    $fairy-opacity: rgba(226, 150, 225, .2);
    $fighting-opacity: rgba(196, 77, 97, .2);
    $ground-opacity: rgba(206, 128, 86, .2);
    $ice-opacity: rgba(139, 206, 193, .2);
    $normal-opacity: rgba(160, 162, 159, .2);
    $poison-opacity: rgba(172, 106, 202, .2);
    $psychic-opacity: rgba(235, 139, 133, .2);
    $rock-opacity: rgba(139, 206, 193, .2);
    $ghost-opacity: rgba(97, 110, 183, .2);
    $grass-opacity: rgba(115, 184, 97, .2);
    $steel-opacity: rgba(101, 148, 161, .2);
    $water-opacity: rgba(136, 163, 212, .2);
    $fire-opacity: rgba(246, 109, 109, .2);
    $flying-opacity: rgba(166, 187, 232, .2);

    $opacity-100: rgba(194, 0, 0, .12);
    $opacity-200: rgba(63, 104, 186, .15);
    $opacity-300: rgba(158, 185, 225, .1);
    $opacity-400: rgba(183, 189, 193, .3);
    $opacity-500: rgba(90, 96, 100, .3);
    $opacity-600: rgba(63, 93, 179, .1);
    $opacity-700: rgba(255, 255, 255, .8);
    $opacity-800: rgba(0, 0, 0, .5);
    $opacity-900: rgba(175, 192, 227, .3);

    $font-title: 'Montserrat', sans-serif;
    $font-body: 'Inter', sans-serif;
    
}